@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400');

*, *:before, *:after { box-sizing: border-box; }

body {
    background-color: #ffffff;
    line-height: 1.5rem;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    color: #000;
    padding: 2rem;
}

.main {
    margin: auto;
    max-width: 50rem;
}

a {
    text-decoration: underline;
    text-underline-offset:.3rem;
    color: #007d9c;
}

p { color: #1a1a19; }

h1 {
    line-height: normal;
}

h2 {
    margin-top: 2rem;
    line-height: 1.4em;
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
}

span.published, span.updated {
    display: block;
    font-style: oblique;
}

code {
    background-color: #eeeeee;
}

pre {
    padding: 1rem 2rem;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto Mono", Monaco, "Lucida Console", monospace;
    overflow: scroll;
}
