@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*, *:before, *:after { box-sizing: border-box; }

body {
    background-color: #ffffff;
    line-height: 1.4rem;
    font-size: 16px;
    font-family: 'Droid Sans', sans-serif;
    color: #000;
    padding: 2rem;
}

.main {
    margin: auto;
    max-width: 60rem;
}

a {
    text-decoration: underline;
    text-underline-offset:.3rem;
    color: #007d9c;
}

p { color: #1a1a19; }

article.article h2:before {
    content: '◉';
}
article.article h3:before {
    content: '○';
}
article.article h4:before {
    content: '✸';
}
article.article h5:before {
    content: '✿';
}

h2 {
    margin-top: 2rem;
    border-bottom-color: #eee;
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
}

span.published, span.updated {
    display: center;
    font-style: oblique;
}

code.verbatim {
    background-color: #f7f7f7;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 90%;
    padding: 2px 2px;
}

.highlight pre {
    background-color: #f7f7f7 !important;
}

.highlight {
    border-radius: 5px;
    border: 1px solid #eee;
}

pre {
    padding: 0.3rem 0.3rem;
    margin: 0;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    overflow-x: auto;
}

.meta_tags {
    border-radius: 8px;
    padding: 0 .5rem;
    font-size: 80%;
    border: 2px solid #eee;
    background-color: #eee
}

.meta_tags a:link,
.meta_tags a:visited {
    text-decoration: none;
}

.meta_date {
    font-style: italic;
}

table {
    border: 1px solid black;
    border-radius: 2px;
    width: 100%;
    border-spacing: 15px;
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    text-align: left;
}

thead {
    background-color: #E0EBF5;
    font-weight: bold;
}

blockquote {
    background-color: #fffff0;
    border-radius: 5px;
    padding-left: 5px;
    font-style: italic;
}

nav.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    font-size: 18px;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.menu-item {
    box-sizing: border-box;
    font-weight: 400;
    padding-right: 8px;
}

nav.menu a {
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: all 75ms ease-in;
}

.navigation a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset:.3rem;
    color: #007d9c;
}

a.menu-active:hover {
    text-decoration: underline;
    text-underline-offset:.3rem;
    color: #007d9c;
    font-weight: 700;
}

a.menu-active {
    text-decoration: underline;
    text-underline-offset:.3rem;
    text-decoration-thickness: 4px;
    color: #007d9c;
    font-weight: 700;
}

.toc {
    border: 1px solid black;
    padding: 1rem;
    margin-top: 1rem;
    color: black;
}

.toc a,
.toc a.visited {
    color: black;
}
