body {
    font-family: sans-serif;
    font-size:18px;
    color: #000111;
    background-color: #fbf1c7;
    margin:1em auto;
    max-width:750px;
    padding:0 0.55em;
}

h1{margin-top:1em;margin-bottom:0.34em}
h2{margin-top:1.25em;margin-bottom:0.41em}
h3{margin-top:1.5em;margin-bottom:0.5em}

hr{
    color:#000111;
    background-color:#000111;
    border:none;
    height:2px
}

a {
    color: #023;
    background-color: #eee;
}
a:visited {
    color: #345;
    background: #eee;
}
a:hover {
    color: #000;
    text-decoration: none;
    background:#ccf;
}

span.published, span.updated {
    display: center;
    font-style: oblique;
}

code {
    font-family: monospace;
    font-size: 80%;
}
code.verbatim {
    background-color: #fffff8;
}
:not(pre) code{
    padding-left:0.1em;
    padding-right:0.1em;
    border-radius:2px;
}

.highlight pre {background-color: #fffff8 !important}
.highlight {border-radius: 5px}

pre {
    font-family: monospace;
    padding: 0.3rem 0.3rem;
    margin: 0;
    overflow-x: auto;
    border: 1px solid #000;
}

.meta_tags {
    border-radius: 8px;
    padding: 0 .5rem;
    font-size: 80%;
    border: 2px solid #eee;
    background-color: #eee;
}

.meta_tags a:link, .meta_tags a:visited {
    text-decoration: none;
}

.meta_date {
    font-style: italic;
    font-size: 80%;
}

table {
    width: 100%;
    border-spacing: 0px;
    outline: none;
    line-height: 0.9em;
}

th, td{
    padding-left:0.7em;
    padding-right:0.7em;
    padding-top:0.4em;
    padding-bottom:0.4em;
}

table, th, td {
    border:1px solid black;
}

blockquote {
    background-color: #fffff8;
    border-radius: 5px;
    font-style: italic;
    border-left: 6px solid black;
    margin-left: 10.875px;
}

nav.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.menu-item {
    padding-right: 8px;
}

.toc {
    border: 1px solid black;
    padding: 1rem;
    margin-top: 1rem;
    color: black;
}
