body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  color: #0e0e0b;
  margin: 1em auto;
  padding: 0 0.55em;
  max-width: 50rem;
}

h1 {
  color: #0e0e0b;
  font-size: 1.3rem;
}

h2, h3 {
  border-bottom: 1px solid #eee;
  font-style: italic;
}
h2 {
  margin-top: 1.25em;
  margin-bottom: 0.41em;
  font-size: 1.2rem;
}
h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

hr{
  color:#000111;
  background-color:#000111;
  border:none;
  height:1px
}

a {
  color:#047bc2;
  transition:color .1s ease-in-out;
}

table {
  width: 100%;
  border-spacing: 0px;
  outline: none;
}
td{
  padding-right: 0.7em;
}
td:last-child {
  text-align: right;
}
table, th, td {
  font-family: monospace;
  color: #000;
}

#title-block-header {
  padding-right: 10px;
  font-size: 1.4em;
  display: flex;
  font-family: monospace;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  border-bottom: 1px;
}

#experience {
  padding-top: 20px;
}
