{{ define "main" }}

<h1>{{ .Title }}</h1>

<div class="meta">
  {{- $pub := .Date.Format "2006-01-02" -}}
  {{- $mod := "" -}}
  {{- if (not .GitInfo) }}
  {{- $mod = .Lastmod.Format "2006-01-02" -}}
  {{ else }}
  {{- $mod = .Page.GitInfo.CommitDate.Format "2006-01-02" -}}
  {{ end -}}
  {{ if eq $pub $mod }}
  <div class="meta_date">published {{ $pub }}</div>
  {{ else }}
  <div class="meta_date">published {{ $pub }}, last modified {{ $mod }}</div>
  {{ end }}
  {{ if .Params.tags }}
  <div>
  {{ if eq (len .Params.tags) 1 }}
  in tag
  {{ else }}
  in tags
  {{ end }}
  {{ range $idx, $tag := .Params.tags }}
  <span class="meta_tags"><a href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a></span>
  {{ end }}
  </div>
  {{ end }}
</div>

{{ .Content }}

{{ end }}
