<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="canonical" href="{{ .Permalink }}">

  {{ $css := "/css/custom.css"  }}
  <link rel="stylesheet" href="{{ $css }}">
  <link rel="alternate" href="{{ "/feed.xml" | relURL }}" type="application/atom+xml" title="ATOM feed">
  <link rel="author" href="humans.txt" />

  <meta name="description" content="Franck Cuny's website, with articles about computers stuff.">
  <meta name="author" content="Franck Cuny">

  <title>{{ .Title }}</title>
</head>
