<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="canonical" href="{{ .Permalink }}">

  {{ $css := "/css/custom.css"  }}
  <link rel="stylesheet" href="{{ $css }}">
  <link rel="alternate" href="{{ "/feed.xml" | relURL }}" type="application/atom+xml" title="ATOM feed">
  <link rel="author" href="humans.txt" />

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🖥️</text></svg>">

  <meta name="description" content="Franck Cuny's website, with articles about computers stuff.">
  <meta name="author" content="Franck Cuny">

  <title>{{ .Title }}</title>
</head>
