{{ define "main" }}

<article>

  <p>I'm a Principal SRE, currently working at <a href="https://www.roblox.com/" target="_blank">Roblox</a>. Previously I worked at <a href="https://twitter.com/TwitterEng" target="_blank">Twitter</a> for over 7 years, and my main focus was on Twitter's compute platform.</p>

  <p>My general interests are in building sustainable teams, improving the management and operation of large infrastructure, and work with different teams to implement best practices around reliability and security.</p>

  <p>You can reach out to me at <a href="mailto:franck@fcuny.net" title="franck@fcuny.net">franck@fcuny.net</a>.</p>

</article>

{{ end }}
