{% extends "base.html" %}

{%- block content -%}
<section id="blog" class="times">

{% if section.content %}
<section id="introduction">
  {{ section.content | safe }}
</section>
{% endif %}

<h2>articles ⇢</h2>
{%- set blog = get_section(path="blog/_index.md") -%}
{%- set post_count = blog.pages | length -%}
{%- for post in blog.pages %}
<article>
    <h3><a href="{{- post.path|safe -}}">{{- post.title -}}</a></h3>
    <time datetime="{{ post.date | date(format="%+")}}">{{ post.date | date(format="%B %m, %Y")}}</time>
</article>
{%- endfor %}

<h2>notes ⇢</h2>
{%- set notes = get_section(path="notes/_index.md") -%}
{%- set post_count = notes.pages | length -%}
{%- for post in notes.pages %}
<article>
    <h3><a href="{{- post.path|safe -}}">{{- post.title -}}</a></h3>
    <time datetime="{{ post.date | date(format="%+")}}">{{ post.date | date(format="%B %m, %Y")}}</time>
</article>
{%- endfor %}

<h2>contact</h2>

Email: <a href="mailto:franck@fcuny.net">franck@fcuny.net</a>

</section>

{%- endblock content -%}
